body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
#root {
  background-color: #e3f4ff;
  background-color: #d9e0f7;
  background-color: #ffffff;
  color: #384155;
  padding-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.today-container, .next-hours-weather, .single-day-weather  {
  border-radius: 6px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-top: 10px;
}

.today-container {
  padding-top: 1rem;
  background-color: #dce9f1;
  height: auto;
}

.single-day-weather {
  height: 6rem;
}
.single-day-weather div {
  text-align: center;
  padding-top: 0.5rem;
}

.next-hours-weather {
  background-color: #dce9f1;
  background-color: #bcddf1;
  height: auto;
  padding-left: 2rem;
}

.next-hours-weather div {
  text-align: right;
  align-items: end;
  padding-left: 2rem;
}

.page-section-header {
  margin-top: 3rem;
  margin-bottom: 1.2rem;
}

.next-day-weekday {
  padding-left: 0.5em;
  font-size: 1.9vw;
  font-family: revert;
  font-weight: 700;
}

.next-day-description {
  padding-left: 0.5em;
  font-weight: 200;
  font-size: 1.5em;
}

.next-hour-icon {

}

.next-day-percipitation {
  font-size: 1.3em;
  font-weight: 500;

}

.next-day-feels-like {
  font-size: 1.3em;
  font-weight: 300;
}

.next-day-humidity {
  font-size: 1.3em;

}

.next-day-sunset {
  padding-top: 1.5em;
}

.next-day-sunrise {
  padding-top: 1.5em;
}

.next-day-wind {
  font-size: 1.3em;

}

.next-day-uvindex {
  font-size: 1.3em;

}

.next-day-cloudness {
  font-size: 1.3em;

}

.next-day-low-high {
  font-size: 0.9em;
  color: rgb(119, 117, 117);
  

}

.next-day-low-high-temp {
  font-size: 1.4vw;
  font-family: revert;
  font-weight: 500;
}

.next-hour-description {
  font-size: 1.2em;
  font-family: revert;
  font-weight: 400;
}

.next-hour-low-high {
  font-size: 1vw;
  font-family: revert;
  font-weight: 400;

}

.searchbar, .form-control{
  margin-top: 2rem;
  background-color:#0f203a;
  color: #FFF;
}

button:hover {
  background-color:#1f4680;

}

.next-hour-time {
  font-size: 2.2vw;
  font-family: revert;
  font-weight: 700;
  align-items: center;

}

.single-day-weather.row {
  margin-top: 5px;
  box-shadow: #1f4680;
  margin-bottom: 10px;
  height: auto;
  background-color: #dce9f1;
}

.region {
  font-weight: 700;
}

.single-hour-col {
  align-items: center;
  margin: 0 auto;
}

.responsive {
  width: 80px;
  height: 80px;
  max-width: fit-content;
  max-height: fit-content;
}
.searchbar.button {
  padding: 0.2em 0.5rem
}

.current-weather-header {
  margin-top: 1em;;
}

.no-search-results-message {
  height: 30px;
}

.next-days-weather {
  height: auto;
}

.alerts-container {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: #f59648;
  color: white;
  font-weight: 600;
  margin-top: 1rem;
  height: auto;
  width: auto;
}

.current-temp {
  font-size: 2.1em;
}

.current-weather-description {
  font-weight: 300;
  font-size: 2.2em
}

.current-temp-low {
  padding-top: 0.8em;
  font-weight: 200;
  font-size: 2.1em;
}

.current-temp-high {
  font-weight: 400;
  font-size: 2.1em;

}

.current-temp-feels-like {
  padding-top: 1em;
  font-size: 1.5em;
  font-weight: 300;
}

.current-temp-humidity {
  font-size: 1.5em;
  font-weight: 300;
}

.current-temp-wind {
  font-size: 1.5em;
  font-weight: 300;
}

.current-temp-sunset, .current-temp-sunrise {
  padding-top: 1.5em;
}

.current-icon {
  margin-top: 2em;
  margin-left: 2em;
  width: 79px;
}

.next-day-icon {
  padding-top: 2.5em;
  padding-right: 2.5em;
}

.next-hour-description {
  font-size: 1.3em;
  font-weight: 300;
}

.next-hour-temp {
  font-size: 2em;
  font-weight: 900;

}

.next-hour-feels-like {
  font-size: 1.2em;
  font-weight: 300;
}

.next-hour-wind {
  font-size: 1.2em;
  font-weight: 300;
}

.next-day-sunset-icon, .next-day-sunrise-icon {
padding-right: 3em;
}

.logo {
  position: absolute;
  right: 8%;
  width: 21%;
}